.alert-box{
    -fx-background-color:#FDE8ED; 
}
.head-text{
    
    -fx-fill:#F9D459; 
    -fx-font:50px "Comic Sans MS";
    -fx-font-weight: bold; 
 
}
.players-name{
    -fx-fill:#F22853; 
    -fx-font: 20px "Comic Sans MS";
    -fx-font-weight: bold;    
}
.players-name-txt-filed{
    -fx-background-color:#FDE8ED; 
    -fx-font-weight: semibold;
    -fx-border-color:#F22853;
    -fx-border-radius:5;
}
.ok-button{
    -fx-text-fill:#FDE8ED;
    -fx-background-color:#F9D459; 
    -fx-font: 18px "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-radius:10;
}
.cancel-button{
     -fx-text-fill:#FDE8ED; 
    -fx-background-color:#F22853; 
    -fx-font: 18px "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-radius:10;
}