.alert-requst-box{
    -fx-background-color:#FDE8ED; 
}
.request-text{
    -fx-fill:#F22853; 
    -fx-font:40px "Comic Sans MS";
    -fx-font-weight: bold; 
   
}
.line{
    -fx-stroke:#F22853;
    -fx-stroke-width:1;
}
.request-message{
    -fx-fill:#F9D459; 
    -fx-font: 30px "Comic Sans MS";
    -fx-font-weight: bold;    
}
.Accept-button{
    -fx-effect:dropshadow;
    -fx-text-fill:#F22853;
    -fx-background-color:#F9D459; 
    -fx-font: 18px "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-radius:10;
}
.Reject-button{
    -fx-effect:dropshadow;
    -fx-text-fill:#F9D459;
    -fx-background-color:#F22853; 
    -fx-font: 18px "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-radius:10;
}
