.root{
     -fx-background-color: #FDE8ED; 
   
}
.tableframe{
    -fx-background-color:#FCD015;
    -fx-background-radius:10 10 10 10;
}

.label{
     
     -fx-font-fill:#FDE8ED;
}
.record{
    -fx-background-color: #F22853;
    -fx-background-radius:10 10 10 10;
}
