.root{
    -fx-background-color: #FDE8ED;
    
}

#btnlogin{
    -fx-background-color: #FCD015;
    -fx-font-size:30;
    -fx-font-family:"league spartan";
    -fx-text-fill: #FDE8ED;
    -fx-background-radius: 50 50 50 50 ;
}
#btnsignup{
    -fx-background-color: #FCD015;
    -fx-font-size:30;
    -fx-font-family:"league spartan";
    -fx-text-fill: #F22853;
    -fx-background-radius: 50 50 50 50 ;
}